body {
	font-family: "Open Sans", sans-serif;
	color: white;
}
div.container {
	background-image: linear-gradient(175deg, #13547a 0%, #80d0c7 80%);
	opacity: 1;
	margin: 0 auto;
	margin-top: 3%;
	max-width: 600px;
	padding: 22px;
	padding-top: 30px;
	border-radius: 10px;
}
div.today {
	margin: 0 auto;
	padding: 1%;
	color: white;
	line-height: 1.5;
}
div.row.today {
	background-color: rgba(217, 249, 244, 0.2);
	border-radius: 5px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}
div.col-6.weather-description {
	text-align: left;
	font-size: 10px;
	padding-left: 15px;
}
span#description {
	text-align: center;
	display: block;
	font-weight: bold;
}
p {
	margin: 0 auto;
}

span.current-date {
	font-size: 20px;
}
span.current-temperature {
	font-size: 25px;
}
span.units.convert {
	font-size: 12px;
	position: relative;
	top: -8px;
}
table.hourly-forecast {
	border-collapse: separate;
	border-spacing: 2px;
	margin: 5px 0 0 ;
	width: 100%;
}
th.hourly-forecast-data,
td.hourly-forecast-data {
	width: 10em;
	background-color: rgba(217, 249, 244, 0.2);
	border-radius: 4px;
}
th.hourly-forecast-data {
	height: 5.5em;
	line-height: 2.5;
}
td.hourly-forecast-data {
	height: 2.3em;
}
div.daily-forecast {
	margin: 0 auto;
	padding: 1%;
	color: white;
}
div.row.daily-forecast {
	display: flex;
	align-items: center;
	position: relative;
	font-size: 15px;
	padding: 15px 0;
}
div.row.sun-position {
	font-size: 15px;
	padding: 1%;
	margin: 0 auto;
}
div.col-12.sun-img {
	padding: 1%;
	background-color: rgba(217, 249, 244, 0.2);
	border-radius: 5px 5px 0 0;
	width:100%;
}
img.sun-position {
	width: 100%;
	padding: 20px;
	display: block;
	margin: 0 auto;
}
div.col-6.sunrise{
	text-align: left;
	padding-left: 25px;
	padding-bottom: 15px;
	background-color: rgba(217, 249, 244, 0.2);
	border-radius: 0 0 0 5px;
}
div.col-6.sundown{
	text-align: right;
	padding-right: 25px;
	padding-bottom: 15px;
	background-color: rgba(217, 249, 244, 0.2);
	border-radius: 0 0 5px 0;
}
#search-city {
	display: inline;
	margin-top: 10px;
	padding: 7px;
}
#city-input {
	border-radius: 4px;
	max-width: 180px;
}
#search-submit {
	border-radius: 4px;
	width: 129px;
	margin-left: 6px;
	background: rgba(217, 249, 244, 0.3);
	color: #ffffff;
}
#current-location {
	border-radius: 4px;
	width: 129px;
	background: rgba(217, 249, 244, 0.3);
	color: #ffffff;
}
#required-city {
	font-weight: bold;
	font-size: 25px;
}
#fahrenheit {
	color: white;
	text-decoration: none;
}
#celsius {
	color: white;
	text-decoration: none;
}
#current-icon-description {
	width: 70%;
	margin: 0 auto;
}
.days {
	border-radius: 4px;
	background-color: rgba(217, 249, 244, 0.2);
	position: relative;
	margin-bottom: 5px;
}
.weather-forecast-info {
	margin: 15px 0;
	margin-bottom: 5px;
	text-align: center;
}
.temperature-value {
	margin: 0 auto;
	font-size: 12px;
}
